main
a.out
my_rpg

assets/images/**/*
!assets/images/**/.gitkeep
assets/sounds/*
!assets/sounds/.gitkeep
assets/fonts/*
!assets/fonts/.gitkeep

unit_tests*
*.gcda
*.gcno
*.o
*.a
vgcore.*

.idea
.vscode
.DS_Store

new_assets/
scenario.txt